/* Navigation bar */

.nav{
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #000040, #FFFFFF, #000040) 1;
    background-color: #004AAD;
    position: relative;
    top:-150px;
    right: 70px;
}
._logo{
    position : relative;
    left:80px;
    top:135px;
}
._logo span{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 30px;
    right:10px;
}
.logo{
    height:100px;
    
}
.navend{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 2rem;
    left: 2rem;
}

.search{
    border: solid 4px black;
    width:380px;
    height:40px;
    border-radius: 2rem;
    background-color: white;
    position: relative;
    left: 380px;
    top:40px;
}
.search input{
    border:none !important;
    height:30px;
    position: relative;
    top:5px;
    left: 20px;
    width:260px;
}
.search input:focus {
    outline: none;
}
.line{
    border-left: 3px solid black;
    height:45px;
    position: relative;
    bottom:35px;
    left:325px;
}
.icon_s{
    position: relative;
    bottom:75px;
    left:335px;
    height: 36px;
    width:36px
}

.nav .Buttons{
    display: flex;
    flex-direction: row;
}
.b1{
    height: 30px;
    width: 80px;
    font-size: 15px;
}
.b2{
    height: 30px;
    width: 80px;
    font-size: 15px;
}
.b3{
    height: 30px;
    width: 80px;
    font-size: 15px;
}
.b4{
    height: 30px;
    width: 96px;
    font-size: 15px;
}
.nav .Buttons button{
    
    border-radius: 10px;
    margin: 8px;
    margin-bottom: 0px;
    padding :2px;
    padding-left : 10px;
    padding-right : 10px;
    border-color:white;
    background-color:#11009E;
    color:white;
    position: relative;
    right: 10px;
    top:25px;
}


.nav .profile {
    border: solid 5px #000040;
    background-color: #000040;
    border-radius: 3rem;
    width: 70px;
    height: 70px;
    position: relative;
    top: 8px;
}

/* ********************************************************************************************** */


/* Take test */

/* ********************************************************************************************* */
.container {
      width: 100%;
      overflow-x: hidden; /* Hide the horizontal scrollbar */
      margin-top: 20px;
      
    }

    .cards-container {
      width: fit-content; /* Adjust the width to fit the cards */
      overflow: hidden; /* Hide overflowed cards */
    }

    .card-row {
      display: flex;
      gap: 20px;
      padding: 20px;
      transition: transform 0.1s ease; /* Add transition for smooth sliding effect */
    }

    .card {
      width: 250px; /* Increase the width of the card */
      height: 175px;
       border: 3px solid darkblue;
      border-radius: 10px;
      background-color: darkblue
    }

    /* Additional styling for scrollbar */
    .container::-webkit-scrollbar {
      display: none; /* Hide scrollbar on WebKit-based browsers */
    }

    .temp3
        {
            position: relative;
            bottom: 110px;
        }
/* ********************************************************************************************* */
/* footer */

