/* Navigation bar */

.nav{
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #000040, #FFFFFF, #000040) 1;
    background-color: #004AAD;
    position: relative;
    top:-150px;
    right: 70px;
}
._logo{
    position : relative;
    left:80px;
    top:135px;
}
._logo span{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 30px;
    right:10px;
}
.logo{
    height:100px;
    
}
.navend{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 2rem;
    left: 2rem;
}

.search{
    border: solid 4px black;
    width:380px;
    height:40px;
    border-radius: 2rem;
    background-color: white;
    position: relative;
    left: 380px;
    top:40px;
}
.search input{
    border:none !important;
    height:30px;
    position: relative;
    top:5px;
    left: 20px;
    width:260px;
}
.search input:focus {
    outline: none;
}
.line{
    border-left: 3px solid black;
    height:45px;
    position: relative;
    bottom:35px;
    left:325px;
}
.icon_s{
    position: relative;
    bottom:75px;
    left:335px;
    height: 36px;
    width:36px
}

.nav .Buttons{
    display: flex;
    flex-direction: row;
}
.b1{
    height: 30px;
    width: 80px;
    font-size: 15px;
}
.b2{
    height: 30px;
    width: 80px;
    font-size: 15px;
}
.b3{
    height: 30px;
    width: 80px;
    font-size: 15px;
}
.b4{
    height: 30px;
    width: 96px;
    font-size: 15px;
}
.nav .Buttons button{
    
    border-radius: 10px;
    margin: 8px;
    margin-bottom: 0px;
    padding :2px;
    padding-left : 10px;
    padding-right : 10px;
    border-color:white;
    background-color:#11009E;
    color:white;
    position: relative;
    right: 10px;
    top:25px;
}


.nav .profile {
    border: solid 5px #000040;
    background-color: #000040;
    border-radius: 3rem;
    width: 70px;
    height: 70px;
    position: relative;
    top: 8px;
}

/* ********************************************************************************************** */


/* Take test */

/* ********************************************************************************************* */

/* ********************************************************************************************* */
/* footer */

body {
    font-family: 'Viga', sans-serif; 
    font-size: 20px;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.foot {
    background-color: #004AAD;
    padding: 20px;
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px; 
    padding-left:20px;
}

.section {
    margin-bottom: 20px;
    margin-right: 50px;
}

.section h3 {
    font-size: 24px; /* Updated font size */
    margin-bottom: 10px;
}

.section a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.Subscription {
    background-color: #CEB00F; 
    padding: 10px;
    margin-top : 40px;
    border-radius: 5px;
    height: fit-content;
    align-self: flex-start;
}

.Subscription h2 {
    background-color: #004AAD;
    padding-top: 80px;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 24px; /* Updated font size */
    margin-bottom: 10px;
}

.Subscription form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Subscription input[type="email"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #B0ADAD;
}

.Subscription input[type="submit"] {
    background-color: #fff;
    color: #004AAD;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px; /* Updated font size */
    background-color: #004AAD;
}